
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    padding: 15vh;
    background-color: #3348c0;
    background-image: linear-gradient(90deg, #17204d 15%, #47b1cf 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    gap: 1.3rem;
   padding-bottom: 5rem;
}

h2{
    margin: auto;
    font-family: cursive;
    /* font-weight: 900; */
}

h3{
    color:rgb(204, 31, 31);
}


.container-2{
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    border-radius: 40px;

}


#input{
border: none;
outline: none;
background-color: rgb(231, 231, 231);
border-radius: 40px;
width: 300px;
padding: .7rem 1.3rem;
font-size: .9rem;
}

#add{
    border-radius: 40px;
    border: none;
    outline: none;
    padding: .7rem 1.3rem;
    width: 90px;
    background-color:#FF770F;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



/* !li elemanı check edilmeden önceki style özellikleri */


.li{

list-style: none;
line-height: 2.4rem;
display: flex;
align-items: center;
padding: 0rem;
position: relative;
font-size: 18px;
cursor: pointer;
}


.p{
display: inline-block;    
width: 20px;
height: 20px;
border: 1px solid rgb(122, 120, 120);
border-radius: 50%;
margin-right: 1rem;
cursor: pointer;
}


.sil{
    position: absolute;
    right: 0;
    padding: 0.1rem  .3rem;
    margin-right: .1rem;
    border: none;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 37px;
    }




/* ? li elemanı check ediltikten sonraki eklenecek  style özellikleri */

.pchecked:first-child{
    background-color: #FF7A48;
    text-decoration: none;
    content: url(./img/ok3.jpg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}



.line{
    text-decoration: line-through;
    color: rgb(109, 107, 107);
}





@media screen and (max-width:550px) {
    .container{
       width: 80vw;
    }
}