
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    padding: 15vh;
    background-color: #3348c0;
    background-image: linear-gradient(90deg, #17204d 15%, #47b1cf 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    gap: 1.3rem;
   padding-bottom: 5rem;
}

h2{
    margin: auto;
    font-family: cursive;
    /* font-weight: 900; */
}

h3{
    color:rgb(204, 31, 31);
}


.container-2{
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    margin-bottom: 2rem;

}


#input{
border: none;
outline: none;
background-color: rgb(231, 231, 231);
border-radius: 40px;
width: 300px;
padding: .7rem 1.3rem;
font-size: .9rem;
}

#add{
    border-radius: 40px;
    border: none;
    outline: none;
    padding: .7rem 1.3rem;
    width: 90px;
    background-color:#FF770F;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


ul{
    position: relative;
}

/* ! todo lar eklendikten sonra oluşacak elementlerin styları */

.li-class{

list-style-type: none;
display: flex;
align-items: center;
padding: .5rem  0rem;
}


/* li::before{

    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
} */


.p-class{
    display: inline-block;
    margin-left: 1.5rem;
}

.delete{
position: absolute;
right: .5rem;
border: none;
outline: none;
padding: .3rem;
width: 30px;
height: 30px;
border-radius: 50%;
background-color: white;
cursor: pointer;
font-weight: bold;
color: rgb(228, 20, 20);
font-size: 1.1rem;

}

.delete:hover{
 background-color: rgb(236, 236, 236);

}

/* 
li{

    text-decoration: line-through;
    color: rgb(177, 173, 173);
} */